@import 'fonts.css';

:root{
    --a: 'Aorom';
    --m: 'mont';
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
li, .ha, .cta, button{
  font-family: var(--m), sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}
.logo{
    cursor: pointer;
    font-family: var(--m);
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    
    transition: all 0.4s ease 0s;
}
.logo:hover{
    border-radius: 35px;
    background: #0088a9;
    color: #24252a;
    transition: all 0.4s ease 0s;
    padding: 10px;
}
.nav__links li{
 display: inline-block;
 padding: 0 20px;
}
.nav__links li a{
transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
color: #0088a9;
margin: 10px;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
    margin: 10px;

}
.btns-navbar{
    width:  30px;
    height:  30px;
    display: none;
    flex-direction: column;
    justify-content: center;
    
    border: none;
    gap:  4px;
    cursor: pointer;
}
.btns-navbar span{
    width: 100%;
    height:  4px;
    border-radius:4px ;
    background: #0088a9;
}
@media(max-width: 992px){}
@media(max-width: 768px){ }
@media(max-width: 576px){
    .nav__links{display: none;} 
    .cta {display: none;}
    .btns-navbar{display: flex;}
   }
@media(max-width: 480px){}
@media(max-width: 375px){}